.about-sec {
	background: url("../img/about/bg-about.jpg") no-repeat center;
	background-size: cover;
}

.about {
	max-width: 460px;
}

.about__serts {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top: $pad-s;
	margin-left: -20px;
	margin-right: -20px;
	@include res(s) {
		margin-left: -10px;
		margin-right: -10px;
	}
}

.about__sert {
	display: block;
	max-width: 170px;
	width: 100%;
	margin-left: 20px;
	margin-right: 20px;
	@include res(s) {
		margin-left: 10px;
		margin-right: 10px;
	}
	a {
		display: inline-block;
		&:hover {
			img {
				box-shadow: 0 0 15px 0 transparentize($blue, 0.4);
			}
		}
	}
	img {
		display: block;
		max-width: 100%;
		transition: all 0.3s ease;
	}
	span {
		display: block;
		margin-top: 10px;
		font-size: 12px;
		font-weight: 300;
		line-height: 1.5;
		transition: all 0.3s ease;
	}
}