.cons-sec {
	min-height: 820px;
	background: url("../img/cons/bg-cons.jpg") no-repeat center;
}

.cons {
	display: flex;
	flex-direction: column;
}

.cons__form {
	margin-left: auto;
	margin-top: $pad-l;
}