.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 30px;
	transition: padding 0.3s ease,background 0.3s ease;
	transform: translate3d(0,0,0);
	z-index: 5;
	@include res(xl){
		padding-top: 10px;
	}
	@include res(l){
		position: absolute;
	}
	.container-big {
		display: flex;
		align-items: center;
		@include res(xs){
			align-items: flex-start;
		}
	}
	&.sticky {
		padding-top: 10px;
		padding-bottom: 10px;
		background: rgba(255,255,255,0.98);
		@include res(xl){
			padding-top: 5px;
			padding-bottom: 5px;
		}
		@include res(l){
			padding-top: 10px;
			padding-bottom: 0;
			background: transparent;
		}
	}
}

.header__logo {
	margin-right: 50px;
	@include res(xl) {
		margin-right: 20px;
	}
	@include res(l) {
		margin-right: 10px;
	}
	img {
		display: block;
		@include res(l) {
			max-width: 40px;
		}
	}
}

.header__nav {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: bold;
	@include res(l) {
		display: none;
	}
	a {
		display: block;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
		transition: all 0.3s ease;
		@include res(xl) {
			padding-left: 10px;
			padding-right: 10px;
		}
		&:hover {
			color: $blue-text;
		}

		&.active{
			color: $blue-text;
		}
	}
}

.header__contact {
	display: flex;
	align-items: center;
	margin-left: auto;
	@include res(xs){
		flex-direction: column;
		align-items: flex-end;
		text-align: right;
	}
}

.header__phone {
	margin-right: 30px;
	@include res(xl) {
		margin-right: 15px;
	}
	@include res(xs){
		margin-right: 0;
		margin-bottom: 5px;
	}
	i {
		margin-right: 5px;
		font-size: 14px;
	}
}

.header__adress {
	p {
		font-size: 14px;
		color: $blue-text;
	}
	span {
		display: block;
		font-size: 12px;
	}
}