.service-sec {
	background: #fcfcfc;
}

.service {
	.page-title {
		margin-bottom: $pad-xs;
		@include res(xl) {
			margin-bottom: $pad-xxs;
		}
	}
	.btn-center {
		margin-top: $pad-m;
		@include res(xs) {
			margin-top: $pad-xs;
		}
	}
}

.service__one {
	position: relative;
	@include res(xs) {
		margin-bottom: $pad-xs;
	}
	img {
		display: block;
		max-width: 100%;
		border-radius: 20px;
	}
}

.service__one-info {
	position: absolute;
	bottom: 25px;
	left: 30px;
	max-width: 200px;
	@include res(xl) {
		max-width: 160px;
		left: 20px;
		bottom: 20px;
	}
	@include res(m) {
		max-width: 140px;
	}
	.h3 {
		height: 2.2em;
		margin-bottom: $pad-m;
		@include res(xl) {
			margin-bottom: $pad-s;
		}
	}
}