.service-sec {
	background: #fcfcfc;
}

.service {
	.page-title {
		margin-bottom: $pad-xs;
		@include res(xl) {
			margin-bottom: $pad-xxs;
		}
	}
	.btn-center {
		margin-top: $pad-m;
		@include res(xs) {
			margin-top: $pad-xs;
		}
	}
}

.service__one {
	position: relative;
	@include res(xs) {
		margin-bottom: $pad-xs;
	}
	img {
		display: block;
		max-width: 100%;
		border-radius: 20px;
	}
}

.service__one-info {
	position: absolute;
	bottom: 25px;
	left: 30px;
	max-width: 200px;
	@include res(xl) {
		max-width: 160px;
		left: 20px;
		bottom: 20px;
	}
	@include res(m) {
		max-width: 140px;
	}
	.h3 {
		height: 2.2em;
		margin-bottom: $pad-m;
		@include res(xl) {
			margin-bottom: $pad-s;
		}
	}
}

.service-more {
	display: flex;
	align-items: flex-start;
	@include res(xs) {
		flex-wrap: wrap;
	}
}

.service-more__img {
	position: relative;
	width: 50%;
	margin-right: $pad-xs;
	@include res(xs) {
		width: 100%;
		max-width: 290px;
		margin: 0 auto;
	}
	&:hover {
		.after {
			opacity: 1;
		}
	}
	img {
		display: block;
		max-width: 100%;
		border-radius: 20px;
		transform: translate3d(0,0,0);
	}
	.after {
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.3s ease;
		opacity: 0;
	}
}

.service-more__info {
	width: 50%;
	text-align: left;
	@include res(xs) {
		width: 100%;
		padding-top: $pad-xs;
		text-align: center;
	}
	.form {
		margin-top: $pad-s;
		padding: 0;
		box-shadow: none;
	}
}