.s-work{
	background: #fcfcfc;
	@include res(m){
		padding: 40px 0;
	}

	.page-title{
		position: absolute;
		z-index: 3;
		top: 60px;
		left: 0;
		right: 0;
		pointer-events: none;
		@include res(xl){
			top: 30px;
		}
		@include res(m){
			position: relative;
			top: inherit;
			margin-bottom: 20px;
		}
		@include res(xs){
			margin-bottom: 0;
		}
	}
}

//work-slider
.work-slider{
	position: relative;
	z-index: 1;
	opacity: 0;
	height: 0;
	@include res(m){
		padding-top: 20px;
	}

	&.flickity-enabled{
		opacity: 1;
		height: auto;
	}

	.flickity-page-dots{
		padding: 10px 0;
		display: flex;
		justify-content: center;
		bottom: inherit;
		top: 160px;
		z-index: 3;
		counter-reset: workdots;
		@include res(xl){
			top: 110px;
		}
		@include res(m){
			top: 0;
		}
	}

	.dot{
		background: transparent;
		position: relative;
		opacity: 1;
		width: 25px;
		height: 25px;
		margin: 0 65px;
		transition: all 0.3s ease;
		counter-increment: workdots;
		@include res(xl){
			margin: 0 40px;
		}
		@include res(m){
			margin: 0 20px;
		}
		@include res(xs){
			margin: 0 15px;
		}

		&:after{
			content: '';
			width: 130px;
			height: 2px;
			background: $blue;
			position: absolute;
			left: 100%;
			top: calc(50% - 1px);
			transition: transform 0.3s ease;
			transform: scale3d(0,1,1);
			transform-origin: left center;
			pointer-events: none;
			@include res(xl){
				width: 80px;
			}
			@include res(m){
				width: 40px;
			}
			@include res(xs){
				width: 30px;
			}
		}

		&:before{
			content: counter(workdots);
			width: 25px;
			height: 25px;
			left: 0;
			top: 0;
			border: 1px solid #bebebe;
			color: #bebebe;
			background: transparent;
			border-radius: 50%;
			position: absolute;
			margin: auto;
			transition: all 0.3s ease;
			opacity: 1;
			font-size: 14px;
			font-weight: bold;
			line-height: 23px;
			text-align: center;
		}

		figure{
			position: absolute;
			border: 1px solid $blue;
			border-radius: 50%;
			width: 45px;
			height: 45px;
			left: -10px;
			top: -10px;
			transform: scale3d(0,0,0);
			transition: all 0.3s ease;
		}

		&:hover{
			&:before{
				border: 1px solid $blue;
				color: $blue;
			}
		}

		&.active{
			&:after{
				transform: none;
			}
			&:before{
				background: $blue;
				color: #000;
				border-color: $blue;
				transition: all 0.3s ease 0.2s;
			}
		}
		
		&.is-selected{
			&:before{
				background: $blue;
				color: #000;
				border-color: $blue;
				transition: all 0.3s ease 0.2s;
			}
			figure{
				transform: scale3d(1,1,1);
				transition: all 0.3s ease 0.2s;
			}
		}
	}


	.flickity-prev-next-button{
		background: transparent;
		width: 50px;
		height: 50px;
		opacity: 1;
		@include res(l){
			display: none;
		}

		.flickity-button-icon{
			transition: all 0.3s ease;
		}

		&:hover{
			opacity: 1;
			.flickity-button-icon{
				fill: $blue-text;
			}
		}

		&:focus{
			box-shadow: none;
			.flickity-button-icon{
				fill: $blue-text;
			}
		}

		&:disabled{
			opacity: 0.3;
		}
	}
}

.work-slide{
	width: 100%;
	min-height: 900px;
	overflow: hidden;
	padding-top: 350px;
	padding-bottom: 40px;
	@include res(xl){
		min-height: 660px;
		padding-top: 200px;
	}
	@include res(m){
		display: block;
		height: auto;
		min-height: initial;
		padding: 20px 0;
	}

	.container{
		display: flex;
		justify-content: flex-start;
		@include res(m){
			justify-content: center;
		}
	}

	&__bg{
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		transform: translate3d(0,0,0);
		will-change: transform;
		@include res(m){
			position: relative;
			height: 150px;
			width: 320px;
			max-width: calc(100% - 32px);
			margin-left: auto;
			margin-right: auto;
			margin-bottom: -20px;
			border-radius: 20px 20px 0 0;
		}
	}
}

.work-panel{
	display: flex;
	flex-direction: column;
	min-height: 460px;
	background: #FFF;
	width: 320px;
	max-width: 100%;
	padding: 30px 25px;
	border-radius: 20px;
	box-shadow: 0 0 43px 0 rgba(3, 82, 84, 0.14);
	transform: translate3d(0,0,0);
	will-change: transform;
	@include res(xl){
		min-height: 380px;
	}
	@include res(m){
		box-shadow: 0 0 20px 0 rgba(3, 82, 84, 0.14);
	}
	@include res(xs){
		min-height: initial;
	}

	&__step{
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.h3{
		margin-bottom: 10px;
	}

	&__text{
		font-size: 14px;
		@include res(xs){
			font-size: 12px;
		}
	}

	footer{
		padding-top: 15px;
		margin-top: auto;
		text-align: center;

		.btn{
			margin-top: 10px;
		}
	}
}
//work-slider